Repository openblack/compile-farm: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-linux.yml, azure-pipelines-windows.yml

azure-pipelines-linux.yml:
  jobs:
  - job: BaseImages
    displayName: Base image
    pool:
      vmImage: ubuntu-18.04
    strategy:
      matrix:
        linux-debian-stretch-i386:
          Distro: i386/debian
          Release: stretch-slim
          Tag: linux-debian-stretch-i386
        linux-debian-stretch-amd64:
          Distro: debian
  ...

azure-pipelines-windows.yml:
  jobs:
  - job: WindowsDependencies
    displayName: Windows Dependencies
    pool:
      vmImage: windows-2019
    steps:
    - script: 'cd /d c:\vcpkg
  
        git pull
  
        .\bootstrap-vcpkg.bat
  
        '
      displayName: Update vcpkg
  ...

base-linux: install system deps and vcpkg deps
  base-linux/Dockerfile
Due: azure-pipelines-linux.yml

remove spirv-headers/spirv-tools from system in favour of vcpkg
  base-linux/Dockerfile
Due: azure-pipelines-linux.yml

base-linux: we need curl
  base-linux/Dockerfile
Due: azure-pipelines-linux.yml

ci-linux-amd64-gcc image
  azure-pipelines-linux.yml
  ci-linux-amd64-gcc/Dockerfile
Due: azure-pipelines-linux.yml

add `jobs` key to yml
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

compress windows dependencies with 7z
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

generate x86/x64 windows dependencies
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

don't package spirv-cross/spriv-tools deps on windows
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

only trigger windows dep builds when windows.yml is modified
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

don't trigger docker image rebuilds on windows modifications
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

add assimp to vcpkg dependencies
  azure-pipelines-windows.yml
  ci-linux-amd64-gcc/Dockerfile
Due: azure-pipelines-linux.yml, azure-pipelines-windows.yml

remove unused libraries from vcpkg
  ci-linux-amd64-gcc/Dockerfile
Due: azure-pipelines-linux.yml

build bgfx into Docker image
  ci-linux-amd64-gcc/Dockerfile
Due: azure-pipelines-linux.yml

ci-linux-amd64-gcc: add `libbullet-extras-dev`
  ci-linux-amd64-gcc/Dockerfile
Due: azure-pipelines-linux.yml

remove --depth and -shallow-submodules from bgfx to fix missing commit this adds some time to the initial pull however
  ci-linux-amd64-gcc/Dockerfile
Due: azure-pipelines-linux.yml

Install clang-format from angular/clang-format on ci-linux-amd64-gcc
  ci-linux-amd64-gcc/Dockerfile
Due: azure-pipelines-linux.yml

ci-linux-amd64-gcc: chmod +x /usr/local/bin/clang-format
  ci-linux-amd64-gcc/Dockerfile
Due: azure-pipelines-linux.yml

curl follow redirect
  ci-linux-amd64-gcc/Dockerfile
Due: azure-pipelines-linux.yml

Add DEBIAN_FRONTEND="noninteractive" to stop getting blocked on package installs.
  ci-linux-amd64-gcc/Dockerfile
Due: azure-pipelines-linux.yml

Add openal-soft and FFmpeg to Azure pipeline for Windows
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Add openal-soft and FFmpeg to Linux Dockerfile
  ci-linux-amd64-gcc/Dockerfile
Due: azure-pipelines-linux.yml

Path conditions:
  azure-pipelines-linux.yml: any file but: azure-pipelines-windows.yml
  azure-pipelines-windows.yml: any of: azure-pipelines-windows.yml
